<br/>
<form class="form-horizontal" method="post" action="">
    <div class="row form-group">
        <div class="col-lg-3" style="text-align: right;">
            <label for="old_mdp">Ancien mot de passe : </label>
        </div>
        <div class="col-lg-6">
            <input type="password" name="old_mdp" class="form-control"/>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-3" style="text-align: right;">
            <label for="new_mdp1">Nouveau mot de passe : </label>
        </div>
        <div class="col-lg-6">
            <input type="password" name="new_mdp1" class="form-control"/>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-3" style="text-align: right;">
            <label for="new_mdp2">Nouveau mot de passe : </label>
        </div>
        <div class="col-lg-6">
            <input type="password" name="new_mdp2" class="form-control"/>
        </div>
    </div>
    <button type="submit" class="btn">Sauvegarder</button>
</form>