<h2>Ajout de membres</h2>

<ul class="nav nav-tabs">
    <li class="active" data-link="fichier"><a onclick="afficher('fichier')" href="#">Fichier Excel</a></li>
    <li data-link="formulaire"><a href="#" onclick="afficher('formulaire')">Formulaire</a></li>
</ul>
<div class="container-fluid" id="fichier">
    <include href="templates/admin/membres/ajouter_fichier.htm"/>
</div>
<div class="container-fluid" id="formulaire">
    <include href="templates/admin/membres/ajouter_form.htm"/>
</div>

<script type="text/javascript">
    $('#formulaire').hide();
    
    function afficher(onglet) {
        $('#fichier, #formulaire').hide();
        $('#' + onglet).show();
        $('li[data-link]').removeClass('active');
        $('li[data-link='+onglet+']').addClass('active');
    }
</script>