<div class="container-fluid">
    <form method="post" action="" enctype="multipart/form-data">
        <div class="form-group">
            <label for="excel_file">Fichier excel contenant les information des étudiants à ajouter : </label>
            <input type="file" name="excel_file" id="excel_file">
        </div>
                
        <input type="submit" value="Envoyer">
    </form>
    <h5>Description du fichier :</h5>
    <p>Commencez par une ligne avec les titre des champs sans accent : nom, prenom, email etc...</p>
    <p>Ne mettez pas de ligne mot de passe ni pseudo, ils sont générés automatiquement.</p>
    <p>Pour les matières, fait une colonne "matieres" et mettez dedans les nom des matières (UE1,UE2,etc..) séparées par des virgules.</p>
    <p>Si vous avez des problème d'accents mal interprétés, pensez à encoder vos fichier excel en Western Europe(Windows-1252/WinLatin 1)</p>
    <p>Les champs autorisés sont : </p>
    <ul>
        <li>nom (obligatoire)</li>
        <li>prenom (obligatoire)</li>
        <li>site (obligatoire)</li>
        <li>situation (obligatoire)</li>
        <li>email (obligatoire)</li>
        <li>matieres</li>
        <li>statut</li>
        <li>portable</li>
    </ul>
</div>