<table class="table table-hover">
    <tr>
        <th>Numéro</th>
        <th>Nom Prénom</th>
        <th>Statut</th>
        <th>Matières</th>
    </tr>
    <repeat group="{{ @membres }}" value="{{ @champs }}">
        <check if="{{!@champs->estValide()}}">
            <true>
                <tr class="warning bouton" onclick="document.location='{{ @root }}profil/{{ @champs->getId() }}'">
            </true>
            <false>
                <tr class="bouton" onclick="document.location='{{ @root }}profil/{{ @champs->getId() }}'">
            </false>
        </check>
            <td>
                {{ @champs->getId()}}
            </td>
            <td>
                {{ @champs->getNomComplet() }}
            </td>
            <td>
                {{ @champs->getStatutObject()->getNom() }}
            </td>
            <td>
                {{ implode(', ', @champs->getMatieresInArray()) }}
            </td>
        </tr>
    </repeat>
</table>