<h2>Ajouter un sujet</h2>

<form action="ajouter/reception" method="post">
    <div class="form-group">
        <label for="matiere">Matière : </label>
        <select name="matiere" class="form-control" >
            <repeat group="{{@SESSION.user->getMatieresInArray()}}" key="{{@num_matiere}}" value="{{@matiere}}">
                <option value="{{@num_matiere}}">{{@matiere}}</option>
            </repeat>
        </select>
    </div>
    <div class="form-group">
        <label for="numero_cb">Numéro du CB : </label>
        <input type="text" name="numero_cb" id="numero_cb" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="classique">Classique</label>
        <input type="radio" checked name="type_cb" value="0" id="classique" />
        <label for="prerentree">Pré rentrée</label>
        <input type="radio" name="type_cb" value="-1" id="prerentree" />
        <label for="cbg">CB Général</label>
        <input type="radio" name="type_cb" value="-2" id="cbg" />
    </div>
    <div class="form-group">
        <label for="date">Date : </label>
        <input type="text" name="date" class="form-control"/>
        <p>Au format jj/mm/yyyy. Le lendemain de cette date, le sujet sera publié dans la section sujets/corrigés. Laisser
        vide pour que le sujet ne soit pas publié.</p>
    </div>
    <div class="form-group">
        <label for="notions">Notions traitées: </label>
        <input type="text" name="notions" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<script type="text/javascript">
    /**
     * Permet de voir si un champ est valide.
     * @param {Object} input L'objet dont on veut vérifier la validité.
     * @returns {Boolean}
     */
    function is_valid(input) {
        switch(input.attr('name')) {
            case 'numero_cb':
                return $.isNumeric(input.val()) || input.attr('disabled');
                break;
            case 'date':
                return (input.val().match('^(0?[1-9]|[1-2][0-9]|3[01])/(0?[1-9]|1[012])/[0-9]{4}$') || input.val() == '');
                break;
            default:
                return true; // aucunes contraintes pour les autres champs
                break;
        }
    }
    
    $('#cbg, #prerentree').on('change', function(e) {
        $('#numero_cb').attr('disabled', 1);
    });
    $('#classique').on('change', function(e) {
        $('#numero_cb').removeAttr('disabled');
    });
</script>
<script type="text/javascript" src="{{@root}}js/form_validation.js"></script>