<!--
    ajouter_question_item.htm

    Affichage dans la boucle des item de ajouter_question.htm
    avec, passé en paramètre, trois variable suplémentaires:
    @item : item+num (ex: item1)
    @corr: correction+num (ex: correction1)
    @rep : reponse+num (ex: reponse1)
-->
<div class="row">
    <div class="col-lg-10">
        <!--Affichage de l'item-->
        <div class="row">
            <div class="col-lg-3">
                <p><strong>Item {{ @num_item }} : </strong></p>
            </div>
            <div onclick="focused_input='item{{@num_item}}'" data-toggle="modal" data-target=".modal_ajout" class="col-lg-9 bouton well" id="item{{@num_item}}">
                <p><check if="{{isset(@question)}}">{{@question->getItem(@num_item)}}</check></p>
            </div>
        </div>
        <!--Affichage de la correction-->
        <div class="row">
            <div class="col-lg-3">
                <p><strong>Correction {{ @num_item }} : </strong></p>
            </div>
            <div onclick="focused_input='correction{{@num_item}}'" data-toggle="modal" data-target=".modal_ajout" class="col-lg-9 bouton well" id="correction{{@num_item}}">
                <p><check if="{{isset(@question)}}">{{@question->getCorrection(@num_item)}}</check></p>
            </div>
        </div>
    </div>
    <!--
        On a affecté deux variables : (cf include de ajouter_question_item)
        @vrai : 'checked'
        @faux : ''
    
        On les échange si la question est fausse :
    -->
    <check if="{{isset(@question)}}">
        <check if="{{!@question->getReponse(@num_item)}}">
            <set vrai=""/>
            <set faux="checked"/>
        </check>
    </check>
    
    <!--Affichage de la réponse (vrai ou faux)-->
    <div class="col-lg-2">
        <div class="radio">
            <label>
                <input {{@vrai}} type="radio" name="reponse{{@num_item}}" id="reponse{{@num_item}}1" value="1"/> Vrai
            </label>
        </div>
        <div class="radio">
            <label>
                <input {{@faux}} type="radio" name="reponse{{@num_item}}" id="reponse{{@num_item}}0" value="0"/> Faux
            </label>
        </div>
    </div>
</div>