<!--
    ajouter_question.htm
    formulaire d'ajout/édition d'une question et de ses items

    si id_sujet = 0 -> ajout
    sinon -> édition (on remplit les champs avec les anciennes valeurs)

    En réaliter pas de formulaire, on affiche les champ dans des div et un bouton 'modifier'
    qui ouvre une popup (bootstrap dialog) avec l'éditeur TinyMCE permettant de l'éditer.
    
    La sauvegarde n'est faite que quand on appuie sur le bouton 'Enregistrer'

-->

<!--Affichage du titre-->
<check if="{{@id_sujet}}">
    <true>
        <!-- Si il y a un sujet sélectionné, on affiche le nom du sujet. -->
        <check if="{{@edition == 0}}">
            <true>
                <h2>Ajouter une question</h2>
                <h4>Sujet n°{{ @id_sujet }}, question n°{{ @num_question }}</h4>
            </true>
            <false>
                <h2>Modifier la question {{@id_question}} </h2>
                <h4>Sujet n°{{ @id_sujet }}, question n°{{ @num_question }}</h4>
            </false>
        </check>
    </true>
    <false>
    <!-- Si il n'y a pas de sujet sélectionner, un affiche la liste des matières à sélectionner. -->
        <check if="{{@edition == 0}}">
            <true><h2>Proposer une question</h2><h4>Indépendante</h4></true>
            <false><h2>Modifier la question {{@id_question}} </h2><h4>Indépendante</h4></false>
        </check>
        <div class="form-group">
            <label for="matiere">Matière : </label>
            <select name="matiere" id="matiere" value="1">
                <repeat group="{{@SESSION.user->getMatieresInArray()}}" key="{{@num_matiere}}" value="{{@matiere}}">
                    <option value="{{@num_matiere}}"{{(isset(@question) && @question->getMatiere() == @num_matiere)?' selected':''}}>{{@matiere}}</option>
                </repeat>
            </select>
        </div>
    </false>
</check>
<p>Vous utilisez actuellement l'éditeur de question avancé. Cliquez sur un champ pour le modifier.</p>

<!-- Affichage de la question -->
<div class="container-fluid">
    <!--checkbox pour savoir si cette question marque le début d'un exercice (cf UE biophysique)-->
    <div class="row">
        <div class="col-lg-12">
            <div class="checkbox">
                <label for="exercice">
                    <input type="checkbox" id="exercice"/>Cette question commence un nouvel exercice.
                </label>
            </div>
        </div>
    </div>
    <!--Enonce supérieur-->
    <div class="row">
        <div class="col-lg-2 checkbox">
            <label for="enonce_sup_checkbox">
                <input type="checkbox" id="enonce_sup_checkbox"/> Enoncé sup :
            </label>
        </div>
        <div class="col-lg-10 bouton collapse" onclick="focused_input = 'enonce_sup'" data-toggle="modal" data-target=".modal_ajout" id="enonce_sup_cell">
            <div class="well" id="enonce_sup">
                <p><check if="{{isset(@question)}}">{{@question->getEnonce_sup()}}</check></p>
            </div>
        </div>
    </div>
    <!--Question-->
    <div class="row">
        <div class="col-lg-2">
            <p><strong>Question : </strong></p>
        </div>
        <div class="col-lg-10 bouton well" onclick="focused_input = 'question'" data-toggle="modal" data-target=".modal_ajout" id="question">
            <p><check if="{{isset(@question)}}">{{@question->getQuestion()}}</check></p>
        </div>
    </div>
    <!--Enonce inférieur-->
    <div class="row">
        <div class="col-lg-2 checkbox">
            <label for="enonce_inf_checkbox">
                <input type="checkbox" id="enonce_inf_checkbox"/> Enoncé inf : 
            </label>
        </div>
        <div class="col-lg-10 bouton collapse" onclick="focused_input = 'enonce_inf'" data-toggle="modal" data-target=".modal_ajout" id="enonce_inf_cell">
            <div class="well" id="enonce_inf">
                <p><check if="{{isset(@question)}}">{{@question->getEnonce_inf()}}</check></p>
            </div>
        </div>
    </div>
    <!--Ajout d'une image-->
    <div class="row">
        <div class="col-lg-2"><p>Image : </p></div>
        <div class="col-lg-10">
            <!--Formulaire d'ajout d'image-->
            <div class="container-fluid collapse" id="image_form">
                <form method="post" action="{{@root}}ajax/question/image_upload" enctype="multipart/form-data" id="image_upload_form">
                    <div class="form-group">
                        <label for="image_file">Uploader une image : </label>
                        <input type="file" id="image_file" name="image_file" />
                    </div>
                    <p>
                        L'image ne peut pas dépasser 2Mo et elle doit être au format JPG. 
                        Veuillez patienter 30s après avoir cliquer sur 'uploader' pour voir l'image apparaître (cela peut parfois prendre quelques minutes).
                    </p>
                    <p>Pensez à bien supprimer l'image si vous ne souhaitez pas enregistrer la question. Elle occupera de l'espace pour rien.</p>
                    <input name="submit" type="submit" value="Uploader" />
                </form>
            </div>
            <!--Affichage de l'image-->
            <div class="container-fluid collapse" id="image_cell">
                <div class="input-group">
                    <button class="btn btn-default" onclick="supprimerImage()">Supprimer</button>
                    <label for="largeur_image">Largeur :</label>
                    <input type="text" name="largeur_image" id="largeur_image" />
                    <button class="btn btn-default" onclick="$('#image').attr('width', $('#largeur_image').val() + 'px');">Redimensionner</button>
                </div>
                <check if="{{isset(@question) && @question->getImage() != ''}}">
                    <true><img id="image" width="{{@question->getLargeur_image()}}" src="{{@root}}files/images/{{@question->getImage()}}" /></true>
                    <false><img id="image" src="" /></false>
                </check>
            </div>
        </div>
    </div>
    <!-- Affichage des 5 items -->
    <repeat group="{{ array(1,2,3,4,5) }}" value="{{ @num_item }}" >
        <include href="templates/sujets/ajouter_question_item.htm" with="vrai='checked', faux=''" />
                 <!-- On passe les différentes variables nécéssaire au rendu de l'item -->
                 
    </repeat>
</div>
<button class="btn btn-default" type="submit" onclick="enregistrer()">Enregistrer</button>

<!--Fenêtre de choix après enregistrement-->
<div class="modal fade" id="modal_save" role="dialog" aria-labelledby="enregistrement" aria-hidden="true" data-backdrop='false'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enregistrement de la question.</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p>Yes ! La question a été correctement enregistrée. Que souhaitez vous faire maintenant ?</p>
                    <ul>
                        <li><a href="{{@root}}sujets/ajouter_question">Ajouter une autre question indépendante</a></li>
                        <li><a href="">Continuer à modifier cette question</a></li>
                        <li><a href="{{@root}}sujets">Aller à la liste des sujets</a></li>
                        <li><a href="{{@root}}sujets/liste_questions">Aller à la liste des questions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fenêtre d'ajout d'équation -->
<div id="modal_ajout" class="modal fade modal_ajout" role="dialog" aria-labelledby="editer-bouton" aria-hidden="true" data-backdrop="false">
    <include href="templates/editor/editor.htm" />
</div>

<script type='text/javascript' src='{{ @root }}/js/tinymce/tinymce.min.js'></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script type="text/javascript">

    // Focused input contient le champs à modifier lorsqu'on ouvre la popup
    var focused_input;
    
    // On sélectionne la matière si besoin
    $('option[value="{{@matiere}}"]').attr('selected', 'selected');
    
    // On coche les checkbox si nécessaire
    // On ouvre les collapse en parallèle
    if({{@edition}}) {
        if('{{@edition && @question->getExercice()}}' != '')
            $('#exercice').attr('checked', 'checked');
        if('{{@edition && strlen(@question->getEnonce_sup())}}' != '') {
            $('#enonce_sup_checkbox').attr('checked', 'checked');
            $('#enonce_sup_cell').collapse();
        }
        if('{{@edition && strlen(@question->getEnonce_inf())}}' != '') {
            $('#enonce_inf_checkbox').attr('checked', 'checked');
            $('#enonce_inf_cell').collapse('show');
        }
        if('{{@edition && strlen(@question->getImage())}}' != '')
            $('#image_cell').collapse('show');
        else
            afficher_img_form();
    }
    else
        afficher_img_form();
        
    function afficher_img_form() {
        $('#image_form').collapse('show');
        // Upload de l'image en utilisant le plugin jquery 'form'
        $('#image_upload_form').ajaxForm({
            success: function(data) {
                retour = jQuery.parseJSON(data); // On décode les données renvoyées par ajax en echo
                if(retour.erreur)
                    alert('Erreur : ' + retour.message);
                else {
                    $('#image').attr('src', retour.image_path);
                    $('#image_form').collapse('hide');
                    $('#image_cell').collapse('show');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Une erreur est survenue lors de la requête ajax. Voici le contenu de la réponse : \n' + xhr.responseText);
            }
        });
    }
    
    // On programme l'ouverture des collapses quand on coche la checkbox
    $('#enonce_sup_checkbox').on('change', function(e) {
        if($('#enonce_sup_checkbox').attr('checked'))
            $('#enonce_sup_cell').collapse('show');
        else
            $('#enonce_sup_cell').collapse('hide');
    });
    $('#enonce_inf_checkbox').on('change', function(e) {
        if($('#enonce_inf_checkbox').attr('checked'))
            $('#enonce_inf_cell').collapse('show');
        else
            $('#enonce_inf_cell').collapse('hide');
    });
    
    // Ajout de l'éditeur d'équation à TinyMCE
    tinymce.init({
    selector: "#editeur",
            plugins: "eqneditor",
            toolbar: "undo redo | bold italic | bullist numlist | eqneditor "
    });
    
    $('#modal_ajout').on('shown.bs.modal', function(e) {
        tinyMCE.get('editeur').setContent($('#' + focused_input).html());
        tinyMCE.get('editeur').focus();
    });

    // Enregistrement de la question dans la base de donnée
    function enregistrer() {
        var data_to_post = {}; // Variable contenant toutes la valeurs des champs à enregistrer
        
        data_to_post['id'] = {{@id_question}};
        data_to_post['id_sujet'] = {{@id_sujet}};
        data_to_post['matiere'] = $('#matiere').length?$('#matiere').val():0;
        data_to_post['numero_question'] = {{@num_question}};
        
        // champs textes (ils sont tous dans des 'well')
        $('.well').each(function () {
            data_to_post[$(this).attr('id')] = $(this).children('p').html();
        });
        // champs réponses
        var reponse = 0;
        var inc = 0; // inc varie de 0 à 4
        $('input[type=radio]:checked').each(function() {
            reponse += $(this).val()*Math.pow(2, inc);
            inc++;
        });
        data_to_post['reponse'] = reponse;
        // Si des éléments sont décochés, on les met à ''
        if(!$('#enonce_sup_checkbox').is(':checked')) data_to_post['enonce_sup'] = '';
        if(!$('#enonce_inf_checkbox').is(':checked')) data_to_post['enonce_inf'] = '';
        // Autre champs
        data_to_post['exercice'] = $('#exercice').is(':checked')?1:0;
        data_to_post['image'] = $('#image').attr('src').split('\\').pop().split('/').pop(); // split et pop permettent de récupérer le nom du fichier
        data_to_post['largeur_image'] = $('#largeur_image').val();

        /* On envoie les données */
        $.post('{{@root}}ajax/question/save',
        {
            donnees: data_to_post
        },
        function (data) { // exécutée une fois qu'on a la valeur de retour
            if (data != '') alert('Erreur : ' + data);
            else $('#modal_save').modal('show');
        });
    }
    
    
    // Suppression de l'image (de la question et du serveur)
    function supprimerImage() {
        $.post('{{@root}}ajax/question/image_delete/',
            {
                image_path: $('#image').attr('src')
            },
            function(data) {
                $('#image').attr('src', '');
                if(data != '')
                    alert('Erreur : ' + data);
            }
        )
        $('#image_cell').collapse('hide');
        $('#image_form').collapse('show');
    }
</script>
