<!--
    ajouter_question_item.htm

    Affichage dans la boucle des item de ajouter_question.htm
    avec, passé en paramètre, trois variable suplémentaires:
    @item : item+num (ex: item1)
    @corr: correction+num (ex: correction1)
    @rep : reponse+num (ex: reponse1)
-->
<div class="row">
    <div class="col-lg-10">
        <!--Affichage de l'item-->
        <div class="row">
            <div class="col-lg-3">
                <p><strong>Item {{ @num_item }} : </strong></p>
            </div>
            <div onclick="focused_input='{{@item}}'" data-toggle="modal" data-target=".modal_ajout" class="col-lg-9 bouton well" id="{{@item}}">
                <check if="{{isset(@question)}}">{{@question[@item]}}</check>
            </div>
        </div>
        <!--Affichage de la correction-->
        <div class="row">
            <div class="col-lg-3">
                <p><strong>Correction {{ @num_item }} : </strong></p>
            </div>
            <div onclick="focused_input='{{@corr}}'" data-toggle="modal" data-target=".modal_ajout" class="col-lg-9 bouton well" id="{{@corr}}">
                <check if="{{isset(@question)}}">{{@question[@corr]}}</check>
            </div>
        </div>
    </div>
    <!--
        On a affecté deux variables en fonction des données de la BDD: (cf include de ajouter_question_item)
        @vrai : 'checked'
        @faux : ''
    
        On les échange si la question est fausse :
    -->
    <check if="{{isset(@question)}}">
        <check if="{{!getBit(@question['reponse'], @num_item)}}">
            <set vrai=""/>
            <set faux="checked"/>
        </check>
    </check>
    
    <!--Affichage de la réponse (vrai ou faux)-->
    <div class="col-lg-2">
        <div class="radio">
            <label>
                <input {{@vrai}} type="radio" name="{{@rep}}" id="{{@rep}}1" value="1"/> Vrai
            </label>
        </div>
        <div class="radio">
            <label>
                <input {{@faux}} type="radio" name="{{@rep}}" id="{{@rep}}0" value="0"/> Faux
            </label>
        </div>
    </div>
</div>