<h2>{{@titre}}</h2>

<table class="table table-hover">
    <tr>
        <th>Numéro</th>
        <th>Auteur</th>
        <th>Matière</th>
        <th>Numéro CB</th>
        <th>Nombre de questions</th>
        <th>Date</th>
        <th>Notions</th>
        <th>Supprimer</th>
        <th>Télécharger</th>
    </tr>
    <repeat group="{{ @result }}" value="{{ @champs }}">
        <tr>
            <td><a href="{{@root}}sujets/{{ @champs->getId() }}">{{ @champs->getId() }}</a></td>
            <td><a href="{{@root}}profil/{{ @champs->getAuteurs() }}">{{ \Membre\Manager::instance()->getFromId(@champs->getAuteurs())->getNomComplet() }}</a></td>
            <td>{{ @matieres[@champs->getMatiere()] }}</td>
            <td>{{ @champs->getNumero_cb() }}</td>
            <td>{{ @champs->getNombre_questions() }}</td>
            <td>{{ @champs->getDate() }}</td>
            <td>{{ @champs->getNotions() }}</td>
            <td><button class="btn btn-info" onclick="supprimerSujet({{@champs->getId()}})">Supprimer</button></td>
            <td><a href="{{ @root }}sujets/{{ @champs->getId() }}/pdf">Downloads</a></td>
        </tr>
    </repeat>
</table>
<script type="text/javascript">
    function supprimerSujet(id) {
        var confirmation = confirm("Voulez vous vraiment supprimer le sujet n°" + id + '?\nSi ce sujet contient des questions, elles seront détachées mais non supprimées.');
        if(confirmation) {
            $.post('{{@root}}ajax/sujet/delete',
                {id: id},
                function (data) {
                    if(data != '')
                        alert('Erreur : ' + data);
                    else
                        document.location = '{{@root}}sujets/';
            });
        }
    }
</script>