<h2>Sujet n°{{ @sujet->getId() }}</h2>
<button class="btn btn-info" data-toggle="modal" data-target=".modal_ajout">Ajouter une question</button>
<button class="btn">Supprimer le sujet</button>
<a class="btn" href="{{ @sujet->getId() }}/pdf">Télécharger la version PDF</a>

<p>Auteur : {{ \Membre\Manager::instance()->getFromId(@sujet->getAuteurs())->getNomComplet() }}</p>
<p>Matière : {{@matieres[@sujet->getMatiere()]}}</p>
<p>Date : {{@sujet->getDate()}}</p>
<p>Le sujet comporte {{@sujet->getNombre_questions()}} questions</p>

<table class="table-striped">
    <repeat group="{{ @questions }}" value="{{ @champs }}">
        <tr>
            <td><button class="btn" data-toggle="collapse" data-target=".items_question{{@champs->getNumero_question()}}"><span class="glyphicon glyphicon-plus"></span></button></td>
            <td><a href="{{@root}}sujets/question/{{@champs->getId()}}"><button class="btn" ><span class="glyphicon glyphicon-edit"></span></button></a></td>
            <td><button onclick="monter({{@champs->getId()}},{{@champs->getNumero_question()}})" class="btn"><span class="glyphicon glyphicon-chevron-up"></span></button></td>
            <td><button onclick="descendre({{@champs->getId()}},{{@champs->getNumero_question()}})" class="btn"><span class="glyphicon glyphicon-chevron-down"></span></button></td>
            <td><strong>Q{{ @champs->getNumero_question()}} : </strong>{{ abreger(@champs->getQuestion(), 100) }}</td>
            <td><img onclick="detacherQuestion({{@champs->getNumero_question()}})" class="bouton" src="{{@root}}files/images/delete.png" alt="Supprimer"/></td>
        </tr>
        <repeat group="{{array(1,2,3,4,5)}}" value="{{@num_item}}">
            <tr class="collapse items_question{{@champs->getNumero_question()}}" style="color:{{ @champs->getReponse(@num_item)==0?'red':'green'}};">
                <td colspan="5">Item {{@num_item}} : {{ @champs->getItem(@num_item) }}</td>
            </tr>
            <tr class="collapse items_question{{@champs->getNumero_question()}}">
                <td colspan="5">Correction : {{ @champs->getCorrection(@num_item) }}</td>
            </tr>
        </repeat>
    </repeat>
</table>

<!--Fenêtre de choix entre ajout de question existante ou non-->
<div class="modal fade modal_ajout" role="dialog" aria-labelledby="ajouter-question" aria-hidden="true" data-backdrop='false'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ajout de question</h4>
            </div>
            <div class="modal-body">
                <p>Sélectionner un question existante ?</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target=".modal_rechercher">Question existante</button>
              <button class="btn btn-primary" onclick="document.location='{{ @sujet->getId() }}/ajouter_question'">Nouvelle question</button>
              <button class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<!--Fenêtre de recherche d'une question-->
<div class="modal fade modal_rechercher" role="dialog" aria-labelledby="rechercher-question" aria-hidden="true" data-backdrop='false'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Recherche d'une question</h4>
            </div>
            <div class="modal-body">
                <p>
                    <input id="recherche_input" type="text" placeholder="id, question" />
                    <button type="submit" class="btn btn-info" onclick="rechercher();">Rechercher</button>
                </p>
                <p id="resultats"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function supprimerSujet() {
        var confirmation = confirm("Voulez vous vraiment supprimer le sujet n°" + {{@sujet->getId()}});
        if(confirmation) {
            $.post('{{@root}}ajax/sujet/delete',
                {id: {{@sujet->getId()}}},
                function (data) {
                    if(data != '')
                        alert('Erreur : ' + data);
                    else
                        document.location = '{{@root}}sujets/';
            });
        }
    }
    
    function detacherQuestion(id) {
        var confirmation = confirm("Voulez vous vraiment supprimer la question n°" + id);
        if(confirmation) {
            $.post('{{@root}}ajax/question/detacher',
                {
                    question: id,
                    sujet: {{@sujet->getId()}},
                },
                function (data) {
                    if(data != '')
                        alert('Erreur : ' + data);
                    else
                        document.location.reload();
            });
        }
    }
    
    function attacherQuestion(id) {
        $.post('{{@root}}ajax/question/attacher',
            {
                question: id,
                sujet: {{@sujet->getId()}},
            },
            function (data) {
                if(data != '')
                    alert('Erreur : ' + data);
                else
                    document.location.reload();
        });
    }
    
    //On fait en sorte qu'appuyer sur entrée avec le focus effectue la recherche
    $('#recherche_input').on('keypress', function(e) {
        if(e.keyCode == 13) {
            rechercher();
        }
    });
    //recherche un question avec un terme comme id ou élément de la question
    function rechercher() {
        var content = $('#recherche_input').val();
        $.post('{{@root}}ajax/question/rechercher',
            {
                recherche: content,
                matiere: {{@sujet->getMatiere()}},
            },
            function (data) {
                $('#resultats').html((data));
        });
    }
    
    function monter(id, num) {
        
        if(num > 1) {
            $.post('{{@root}}ajax/question/monter',
                {
                    num_question: num,
                    sujet: {{@sujet->getId()}},
                },
                function (data) {
                    if(data != '')
                        alert('Erreur : ' + data);
                    else
                        document.location.reload();
            });
        }
        else
            alert('Erreur: il s\'agit de la première question.');
    }
    
    function descendre(id, num) {
        if(num < {{@sujet->getNombre_questions()}}) {
            $.post('{{@root}}ajax/question/descendre',
                {
                    id_question: id,
                    num_question: num,
                    sujet: {{@sujet->getId()}},
                },
                function (data) {
                    if(data != '')
                        alert('Erreur : ' + data);
                    else
                        document.location.reload();
            });
        }
        else
            alert('Erreur: il s\'agit de la dernière question.');
    }
</script>