<h2>Tableau de bord</h2>
<h4>En chiffres</h4>
<p>{{\Sujet\Manager::instance()->countAll()}} sujets</p>
<p>{{\Question\Manager::instance()->countAll()}} questions</p>
<p>{{\Membre\Manager::instance()->countAll()}} membres</p>

<p>Ici seront affichés les derniers ajouts de sujets et questions.
    Si vous avez des idées d'autres choses à afficher, n'hésitez pas à en faire part sur github : 
    <a href="https://github.com/matthiasbe/tutorat/issues/7">https://github.com/matthiasbe/tutorat/issues/7</a>
</p>