<h2>Bienvenue ! </h2>
<p>A faire : toutes les vérifications des formulaires</p>
<p>profil -> erreur si pas d'id entrée</p>
<p>Message d'erreur connexion (si rien entré, mauvais mdp ...)</p>
<p>connexion/deconnexion -> on retrouve la même page</p>
<p>Modifier le profil -> bouton sélectionné par défaut</p>
<p>pdf -> ajout de la page pour l'UE6</p>
<p>Affichages des sujets par matière</p>
<p>Affichage de l'onglet sélectionnée</p>
<p>Pouvoir modifier les vrai/faux</p>
<p>Enregistrer les date de modif et les auteurs</p>
<p>Sujet : affichage des photos, echanges d'items/questions</p>
<p>Question dans liste_question : ne pas afficher toute la question si trop longue + alt</p>
<p>Ajouter, supprimer les auteurs d'un sujet, d'une question</p>
<p>Pourvoir ajouter une question existante</p>
<p>Recherches</p>
<p>Sort des question/sujets/membres</p>
<p>Bouton de retour à la liste</p>
<p>Corrections des qcm en pdf</p>
<p>Message positif (connexion, ajout...) ou négatifs (erreurs)</p>
<p>Substr prend en compte è->& grave => découpage au mauvais endroit</p>