<h2>Bienvenue ! </h2>
<exclude>
<p>A faire : toutes les vérifications des formulaires</p>
<p>profil -> erreur si pas d'id entrée</p>
<p>Modifier le profil -> bouton sélectionné par défaut</p>
<p>Affichage de l'onglet sélectionnée</p>
<p>Sort des question/sujets/membres</p>
<p>Bouton de retour à la liste</p>
<p>Message positif (connexion, ajout...) ou négatifs (erreurs)</p>
<p>Substr prend en compte è->& grave => découpage au mauvais endroit</p>
<p>Erreur incorrecte si mauvais format d'image</p>


<p>Validation du formulaire d'inscription</p>
<p>Ajout de membre en double</p>
</exclude>

<p>Les inscriptions sont actuellement ouverte. <a href="{{@root}}inscription">Cliquez ici pour vous inscrire.</a></p>