<div class="navbar-header">
    <a href="{{ @root }}" class="navbar-brand">Bienvenue sur le site du tutorat !</a>
</div>
<check if="{{isset(@SESSION.user)}}">
    <false>
        <div class="navbar-form navbar-right inline-form" role="connexion">
            <form method="post" action="{{@root}}connexion?v={{@SERVER.REQUEST_URI}}">
                <input type="text" class="form-control" placeholder="Identifiant" name="pseudo"/>
                <input type="password" class="form-control" placeholder="Mot de passe" name="mdp"/>
                <button type="submit" class="btn">Se connecter</button>
            </form>
        </div>
    </false>
    <true>
            <ul class="nav navbar-top-links navbar-right">
                {{@SESSION.user->getPseudo()}}
                <li>
                    <a href="{{@root}}profil/{{@SESSION.user->getId()}}" title="Espace Etudiant">
                        <i class="fa fa-user fa-fw"></i>
                    </a>
                </li>
                <li>
                    <a href="{{@root}}deconnexion?v={{@SERVER.REQUEST_URI}}" title="Se déconnecter">
                        <i class="fa fa-power-off fa-fw"></i>
                    </a>
                </li>
                <li>
                    <a href="http://github.org/matthiasbe/tutorat/issues/new" target="_blank" title="Reporter un problème (nécessite un compte Github)">
                        <i  class="fa fa-exclamation-triangle fa-fw"></i>
                    </a>
                </li>
            </ul>
    </true>
</check>