<h2>Profil de <span class="nom_utilisateur_profil">{{@membre.pseudo}}</span></h2>

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <p>Nom d'utilisateur : </p>
            <p>Statut : </p>
            <p>Nom : </p>
            <p>Prénom : </p>
            <p>Situation : </p>
            <p>Site : </p>
            <p>Email : </p>
            <p>Téléphone : </p>
            <p>Supprimer : </p>
            <p>Matières attitrées :<img class="bouton" src="{{@root}}files/images/add.png" alt="Modifier" data-toggle="modal" data-target=".modal_matiere"/></p>
        </div>
        <div class="col-lg-10">
            <p>{{@membre.pseudo}} {{@afficherBoutonModifier(@f3, 'pseudo')}}</p>
            <p>{{@nom_statuts[@membre.statut]}} <img class="bouton" src="{{@root}}files/images/edit.png" alt="Modifier" data-toggle="modal" data-target=".modal_statut"/></p>
            <p>{{@membre.nom}} {{@afficherBoutonModifier(@f3, 'nom')}}</p>
            <p>{{@membre.prenom}} {{@afficherBoutonModifier(@f3, 'prenom')}}</p>
            <p>{{@membre.situation}} <img class="bouton" src="{{@root}}files/images/edit.png" alt="Modifier" data-toggle="modal" data-target=".modal_situation"/></p>
            <p>{{@membre.site}} <img class="bouton" src="{{@root}}files/images/edit.png" alt="Modifier" data-toggle="modal" data-target=".modal_site"/></p>
            <p>{{@membre.email}} {{@afficherBoutonModifier(@f3, 'email')}}</p>
            <p>{{@membre.portable}} {{@afficherBoutonModifier(@f3, 'portable')}}</p>
            <p><button onclick="supprimerMembre()" class="btn btn-info">Supprimer le membre</button></p>
            <p>{{@membre_class->listerMatieres(@f3)}}</p>
            </p>
        </div>
    </div>
</div>

<!-- Fenêtre de modification de statut -->
<div class="modal fade modal_statut" role="dialog" aria-labelledby="edit-site" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modification du champ : statut</h4>
            </div>
            <div class="modal-body">
                <select name="statut" id="statut">
                    <repeat group="{{@nom_statuts}}" key="{{@cle}}" value="{{@statut}}">
                        <option value="{{@cle}}">{{@statut}}</option>
                    </repeat>
                </select>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button class="btn btn-primary" onclick="MAJ('statut', $('#statut').val())">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>

<!-- Fenetre de modification de la situation -->
<div class="modal fade modal_situation" role="dialog" aria-labelledby="edit-situation" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modification du champ : situation</h4>
            </div>
            <div class="modal-body">
                <select name="situation" id="situation">
                    <option>Primant</option>
                    <option>Doublant</option>
                    <option>Triplant</option>
                </select>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button class="btn btn-primary" onclick="MAJ('situation', $('#situation').val())">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>

<!-- Fenetre de modification du site -->
<div class="modal fade modal_site" role="dialog" aria-labelledby="edit-site" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modification du champ : site</h4>
            </div>
            <div class="modal-body">
                <select name="site" id="site">
                    <option>Châtenay</option>
                    <option>Orsay</option>
                </select>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button class="btn btn-primary" onclick="MAJ('site', $('#site').val())">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>

<!-- Fenêtre d'ajout de matière -->
<div class="modal fade modal_matiere" role="dialog" aria-labelledby="edit-site" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ajout d'une matière</h4>
            </div>
            <div class="modal-body">
                <select name="matiere" id="matiere">
                    {{@membre_class->listerMatieresNonSuivies(@f3)}}
                </select>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button class="btn btn-primary" onclick="MAJ('matieres', {{@membre.matieres}} + Math.pow(10, $('#matiere').val()-1))">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
</style>
<script type="text/javascript">
    
    function modifier(champ, ancienne_valeur) {
        modif = window.prompt('Modification du champ : ' + champ, ancienne_valeur);

        // Si l'utilisateur annule, on arrête a procédure
        if(modif == null) return 0;

        MAJ(champ, modif);
    }
    
    function MAJ(champ, nouvelle_valeur) {
        $.post('{{@root}}ajax/membre/edit',
            {
                id: {{@PARAMS.id}},
                champ: champ,
                valeur: nouvelle_valeur
            },
            function (data) {
                if(data != '')
                    alert('Erreur : ' + data);
                else
                    document.location.reload();
        });
    }
    
    function supprimerMatiere(num) {
        MAJ('matieres', {{@membre.matieres}}-Math.pow(10,num-1));
    }
    
    function supprimerMembre() {
        if(window.confirm('Êtes-vous sûr de vouloir supprimer le membre suivant : {{@membre.pseudo}}')) {
            $.post('{{@root}}ajax/membre/delete',
                {
                    id: {{@PARAMS.id}}
                },
                function (data) {
                    if(data != '')
                        alert('Erreur : ' + data);
                    else
                        document.location = '{{@root}}admin/membres/';
            });
        }
    }
</script>