<div class="sidebar-nav">
    <div class="navbar navbar-default" role="connexion">
        <check if="{{isset(@SESSION.user)}}">
            <false>
                <form method="post" action="{{@root}}connexion">
                    <input type="text" class="form-control" placeholder="Identifiant" name="pseudo"/>
                    <input type="password" class="form-control" placeholder="Mot de passe" name="mdp"/>
                    <button type="submit" class="btn">Se connecter</button>
                </form>
            </false>
            <true>
            <p>Bonjour, <span class="nom_utilisateur_sidebar">{{@SESSION.user->pseudo}}</span></p>
            <p><a href="{{@root}}profil/{{@SESSION.user->id}}">Mon profil</a></p>
            <p><a href="{{@root}}deconnexion">Se déconnecter</a></p>
            </true>
        </check>
    </div>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ @root }}calendrier" {{ @page=='calendrier'?'class="active"':'' }}>Calendrier</a></li>
                <li><a href="{{ @root }}sujets">Sujets/Corrigés</a></li>
                <li><a href="{{ @root }}annales">Annales</a></li>
                <li><a href="{{ @root }}qcms">Banque de QCM</a></li>
                <li><a href="{{ @root }}statistiques">Statistiques</a></li>
            </ul>
        </div>
    </div>
</div>